html, body { height: 100%; }

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

canvas {
	background-color: #f3f3f3;
	-webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
	-moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
	box-shadow: 3px 3px 3px 0 #e3e3e3;
	border: 1px solid #c3c3c3;
	height: 220px;
	margin: 6px auto 0 auto;
}

.progress {
	margin-top: 7px;
	background-color: #ddd;
}

.gallery .gallery-image {
	margin-bottom: 15px;
}

.gallery .gallery-image-view {
	border: 2px solid #aaa;
	padding: 5px;
	background-color: #eee;
}

.gallery .gallery-image-view .gallery_image-box {
	padding: 0 4%;
}